## INTER QUARTILE RANGE

import pandas as pd
import numpy as np
from UniVariate import Univariate 
import warnings
warnings.filterwarnings("ignore")

In [16]:
dataset = [1, 12, 14, 15, 18, 19, 21, 22, 30, 100]
dataset = [389950, 230500, 158000, 479000, 639000, 114950, 5500000, 387000, 659000, 529000, 575000, 488800, 1095000]
# Convert list to DataFrame
dataset= pd.DataFrame(dataset, columns=['Price'])
dataset = dataset.sort_values(by="Price").reset_index(drop=True)

In [17]:
dataset

      Price
0    114950
1    158000
2    230500
3    387000
4    389950
5    479000
6    488800
7    529000
8    575000
9    639000
10   659000
11  1095000
12  5500000

In [4]:
quan,qual=Univariate.QuanQual1(dataset)

In [5]:
quan

['Price']

In [6]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Min","Max","Q1","Q2","Q3","IQR","1.5Rule","Lesser","Greater","Min","Max"],columns=quan)

In [8]:
for columnName in quan:
    descriptive[columnName]["Mean"] =dataset[columnName].mean()
    descriptive[columnName]["Median"] =dataset[columnName].median()
    descriptive[columnName]["Mode"] =dataset[columnName].mode()[0]
    descriptive[columnName]["Q1"] =dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2"] =dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3"] =dataset.describe()[columnName]["75%"]
    descriptive[columnName]["IQR"] =dataset.describe()[columnName]["75%"] - dataset.describe()[columnName]["25%"] 
    descriptive[columnName]["1.5Rule"] = 1.5 * descriptive[columnName]["IQR"]

    descriptive[columnName]["Lesser"] =descriptive[columnName]["Q1"] - descriptive[columnName]["1.5Rule"]
    descriptive[columnName]["Greater"]=descriptive[columnName]["Q3"] + descriptive[columnName]["1.5Rule"]
    descriptive[columnName]["Min"]    =dataset[columnName].min()
    descriptive[columnName]["Max"]    =dataset[columnName].max()

descriptive

                 Price
Mean     865015.384615
Median        488800.0
Mode            114950
Min             114950
Max            5500000
Q1            387000.0
Q2            488800.0
Q3            639000.0
IQR           252000.0
1.5Rule       378000.0
Lesser          9000.0
Greater      1017000.0
Min             114950
Max            5500000

In [18]:
##############################################################
## 1) Gathering "Oulier" Columns
##############################################################
lesser=[]
greater=[]

for col in quan:
    if (descriptive[col]["Min"] < descriptive[col]["Lesser"]).all:
        lesser.append(col)
    if (descriptive[col]["Max"]>descriptive[col]["Greater"]).all:                
        greater.append(col)

In [19]:
lesser

['Price']

In [20]:
greater

['Price']